.clas{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

body{
  background:#1F1A1C;
}

p, h1, h3, li, a, table, tr, th, td{
  color:#AA8B53;
}

h2{
  color:#5A4B35;
}


/** a small example of flexbox **/
.flexbox{
  display:flex;/** this line makes the whole element flexbox **/
  flex-direction:column; /** makes it go down **/
  justify-content:center; /**centers the code**/
  align-content:center;
}

.flexbox>*{
  border-style:solid;
  border-radius:5px;
  border-color:white;
}


