body, a{
  background:#1F1A1C;
  color:#AA8B53;
}

a:visited{
  color:#ab9979;
}

a:hover{
  font-weight:bold;
}

h3{
  margin-block-start:1em;
  margin-block-end: 0.5em;
}

ul{
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start:40px;
  list-style-type:circle;
}

p{
  margin-block-start:0em;
  margin-block-end:0em;
}

/**classes**/

.center{
  position:absolute;
  top:2.3%;
  left:50%;
  transform:translate(-50%,-50%);
}

.homebar{
  padding:1.5em 0em 0.5em 1em;
  border-width:0px 0px 5px 0px;
  border-style:dotted;
  background-color:#5A4B35;
  a{
    background-color:#5A4B35;
  }
}

.rightbar{
  position:absolute;
  top:4em;
  left:75%;
  right:2%
}

/** a small example of flexbox **/
.flexbox{
  display:flex;/** this line makes the whole element flexbox **/
  flex-direction:column; /** makes it go down **/
  justify-content:center; /**centers the code**/
  align-content:center;
}

.flexbox>*{
  border-style:solid;
  border-radius:5px;
  border-color:#5A4B35;
}


